<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/3a218d1933.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    {{>navbar}}
    <header>
    <div class="header-content">
    <h1></h1>
    <h2></h2>
    </div>
</header>
    <main>
        <div class="main-container">
            <div class="left">
                <div class="left-container">
                    <h1 class="welcome-text">WELCOME</h1>
                    <p>Sign back in to your account to access your account information and bookmarked cases</p>
                </div>
            </div>

            <div class="right">
                <form  class="login-form">
                    <h2>Log In</h2>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username">
                   
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">    


                <button type="submit" class="submit-btn">Log In</button>
                <hr>
                <div class="sign-up-wrapper">
                    <p>Don't have an account</p>
                    <a href="/register">Sign Up&#8599</a>
                </div>
                </form>
            </div>
        </div>
    </main>
        {{>footer}}
    <script src="js/login.js"></script>
</body>
</html>