<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Jerry Justice Vault</title>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <main>
        <div class="main-container">
            <div class="left"></div>
            <div class="right">
                <form action="/account" action="GET" class="form">
                    <label for="email">EMAIL</label>
                    <input type="text" id="email" name="email">
                   
                    <label for="password">PASSWORD</label>
                    <input type="text" id="password" name="password">    


                <button type="submit" class="submit-btn">LOG IN</button>
                </form>
                <hr>
                <a href="/register">SIGN UP</a>
            </div>
        </div>
    </main>
    <script src="/public/js/login.js"></script>
</body>
</html>