<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://kit.fontawesome.com/3a218d1933.js" crossorigin="anonymous"></script>
</head>
<body>
    {{>navbar}}

    <header>
        <div class="header-content">
            <h1></h1>
            <h2></h2>
        </div>
    </header>

    <dialog data-modal class="modal">
            <p>Successfully Created User, Redirecting to login page...</p>
            <lottie-player src="https://lottie.host/dc237204-66bf-4b5c-81bd-d356df729d70/qG13T5zBBS.json" background="##ffffff" speed="1.4" style="width: 100px; height: 100px" loop autoplay direction="1" mode="normal"></lottie-player>
    </dialog>

    </header>
    <main>
        <div class="main-container">
            <div class="left">
                <div class="left-container">
                    <h1 class="welcome-text">Sign Up</h1>
                    <p>Sign up for an account to save bookmarked cases</p>
                </div>
            </div>

            <div class="right">
                <form  id="register-form">
                    <h2>Sign Up!</h2>

                    <span class="error-message" id="fName-error"></span>
                    <label for="first name">First Name</label>
                    <input type="text" id="fName" name="first name">

                    <span class="error-message" id="lName-error"></span>
                    <label for="last name">Last Name</label>
                    <input type="text" id="lName" name="Last Name">
                    
                    <span class="error-message" id="email-error"></span>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email">
                    
                    <span class="error-message" id="userName-error"></span>
                    <label for="username">Username</label>
                    <input type="text" id="userName" name="Username">

                    <span class="error-message" id="password-error"></span>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">  


                    <button type="submit" class="submit-btn">Sign Up</button>

                    <hr>
                    <div class="sign-up-wrapper">
                        <p>Already have an account?</p>
                        <a href="/login">Login&#8599</a>
                    </div>
                
                </form>
            </div>
        </div>
    </main>

    {{>footer}}
    <script src="js/register.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@2.0.8/dist/lottie-player.js"></script>
</body>
</html>