<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
     <script src="https://kit.fontawesome.com/3a218d1933.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
    {{>navbar}}

    {{!-- header picture at the top --}}
    <header>
    <div class="header-content">
    <h1>Search</h1>
    <h2>Find your case, resolve your issues, and simplify legal with ease!</h2>
    </div>
    </header>
    
   {{!-- search container --}}
    <div class="form-container">
        <div class="search-form-wrapper">
            {{!-- sort dropdown --}}
             <select class="sort-container">
                <option value="default">Sort by: Type</option>
                <option value="A-Z">Cases: A to Z</option>
                <option value="Z-A">Cases: Z to A</option>
                <option value="Attorney">Has Attorney</option>
                <option value="No-Attorney">No Attorney</option>

            </select>
             {{!-- Search input form --}}
            <form id="search-form">
                <input id="search-case" type="text" placeholder="Search Case">
                <button class="submit-btn">Search</button>

            </form>

           
        </div>

    </div>
    {{!-- loading animation --}}
    <div class="container">
    <dotlottie-player class="loading-anim" src="https://lottie.host/3bf5e240-e973-4e89-92fd-e951f9eed7d9/vqCGULBgIG.lottie" background="transparent" speed="1" style="width: 500px; height: 500px" loop autoplay></dotlottie-player>
    {{!-- case section  --}}
    <section id="similar-cases">
    </section>
    </div>

    {{>footer}}

        <script type="module" src="js/bookmark.js"></script>
    <script type="module" src="js/searchCase.js"></script>
        <script src="js/script.js"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
</html>