<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
    <div class="container">
        <h1>Find a Case.</h1>
        <h2>Solve Your issues.</h2>
        <h3>We make legal easier.</h3>
    </div>
    

    <div class="form-container">
        <form id="search-form">
            <input id="search-case" type="text" placeholder="Search Case">
            <button>Search</button>
        </form>
    </div>

    <div class="container">
        <section id="similar-cases">

        </section>
    </div>

    <script src="js/searchCase.js"></script>
</body>
</html>