<div class="footer">
        <div class="col-1">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/account">Account</a></li>
                <p></p>
            </ul>
        </div>
    
        <div class="col-2">
        <a href='/'><img src='/img/logo.jpeg' alt="Logo" / height="150"></a>
        </div>
    
        <div class="col-3">
            <h3>Contact</h3>
            <p>Phone Number: 704-971-2300 <br>Address: 1423 Red Ventures Dr, Fort Mill SC 29707</p>
        </div>
    </div>