<nav>
            <ul class='navbar'>
                <li class='logo'><a href='#'><img src='/img/logo.jpeg' alt="Logo" /></a></li>
                <input type='checkbox' id='check' />
                <div class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
                </div>
                <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
            </ul>
        </nav>