/* Overall Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 246, 246);
    color: rgb(42, 42, 42);
}

h1, h2 {
    text-align: center;
    color: rgb(41, 41, 41);
}


/* Container Section */
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} 

/* User Info */
.user-info {
    margin: 20px 0;
    padding: 10px 15px;
    background-color: rgb(247, 247, 247);
    border-radius: 8px;
    border: 1px solid rgb(211, 211, 211);

}
.user-info p {
    margin: 10px 0;
    font-size: 1rem;
}
.user-info strong {
    color: rgb(53, 53, 53);
}

/* Button Container */
.button-container {
    text-align: center;
}
#save-btn  {
    background-color: rgb(0, 119, 255);
    color: white;
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: .4rem;
}
#save-btn:hover {
    cursor: pointer;
    background-color: rgb(0, 183, 255);
}

#delete-btn {
    background-color: red;
    color: white;
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: .4rem;
}
#delete-btn:hover {
    cursor: pointer;
    background-color: rgb(184, 0, 0);
}