@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem;
    background-color: #ededed;
    line-height: 1.5;
    font-family: 'Playfair Display', Times, serif;
}

/* Navbar styling */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #20263E;
    list-style: none;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

select, option {
    font-family: 'Playfair Display', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    /* padding: 0.5rem; */
    text-align: center;

}

/* Logo image styling */
.logo img {
    width: 80px;
}

/* Menu items container */
.menu {
    display: flex;
    gap: 2rem
}

/* Menu list items */
.menu li {
    padding-left: 30px;
}

/* Styling for each menu link */
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease;
    position: relative;
}

/* Underline effect for links */
.menu li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFF;
    transition: width 0.3s ease, background-color 0.3s ease;
}

/* Hover effect for links */
.menu li a:hover {
    color: #AA8A50;
    filter: brightness(calc(100% + 10%))
}

/* Expand underline on hover */
.menu li a:hover::after {
    width: 100%;
    background-color: #AA8A50;
    filter: brightness(calc(100% + 10%))
}

/* Open and close menu buttons for mobile view */
.open-menu, .close-menu {
    position: absolute;
    color: #FFF;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

/* Open menu button positioning (hamburger icon) */
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Close menu button positioning (close icon) */
.close-menu {
    top: 20px;
    right: 20px;
}

/* Hide the checkbox input (it's used to toggle the mobile menu) */
#check {
    display: none;
}

/* -------- header styling ----------- */
header {
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url('/img/hero.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .header-content {
    position: relative;
    z-index: 2;
  }

  .header-content h1 {
    margin: 0;
    font-size: 2.5em;
  }


.container{
    text-align: center;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    min-height: 100vh;
}

h1, h2, h3{
    margin: 1rem;
}

h2{
    color: #AA8A50;
    filter: brightness(calc(100% + 10%))
}

/* --------- search input form -------------*/
.form-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#search-form {
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 2rem;
}

#search-case {
    font-size: 1.1rem;
    padding: 1rem;
    margin-right: 1rem;
    width: 100%;
    font-family: playfair display;
}

#search-form button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
}

#search-form button {
    background-color: #AA8A50;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: playfair display;
    filter: brightness(calc(100% + 10%))
}

#search-form button:hover {
    filter: brightness(calc(100% + 20%));
}

#search-form button:active {
    filter: brightness(calc(100% + 30%));
}
/* -------------- case card ---------------- */
.case {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-bottom: 1.5rem;
    padding: 2rem;
    border-radius: 10px;
    border:1px solid #dadde1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-x: hidden;
}

.case:hover {
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(5px);
}

.case-name {
    text-align: start;
    width: 25%;
    border-right: 1px solid #000;
    margin-right: .7rem;
    padding: 1rem;
}

.case-name h4{
    margin-bottom: 1rem;
}

.case-name p{
    margin-bottom: 1rem;
}

.case-desc {
    width: 65%;
    margin: 1rem;

}

.case-desc p {
    text-align: start;
    margin-bottom: 1rem;
}

.case-desc h4 {
    text-align: start;
    margin-bottom: 1rem;
}

.case button{
    padding: 1rem;
    width: 100%;
    background-color: #AA8A50;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: playfair display;
    filter: brightness(calc(100% + 10%));
}

.case button:hover {
    filter: brightness(calc(100% + 20%));
}

.case button:active {
    filter: brightness(calc(100% + 30%));
}

.case a {
    text-decoration: none;
    color: #000;
}

/* -------- Footer ---------*/
.footer {
    width: 100%;
    padding: 20px 10%;
    background-color: #20263E;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
}

.footer div {
    text-align: center;
    margin-bottom: 20px;
    flex: 1;
    min-width: 250px;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer div h3 {
    font-weight: normal;
    color: whitesmoke;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

.col-1 {
    text-align: left;
}

.col-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.col-1 ul li {
    margin-bottom: 10px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.col-1 a:hover {
    color: #AA8A50;
    filter: brightness(calc(100% + 10%));
    transform: translateX(5px);
}

.col-3 p {
    font-size: 14px;
    color: #ddd;
    line-height: 1.6;
}

/* Sticky footer at the bottom of the page */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #20263E;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 12px;
}



/* bookmark icon and loading anim. styling */
.bookmark-wrapper {
    height: 199.98px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.bookmark-wrapper i:hover {
    cursor: pointer;
}

.bookmark-wrapper button {
    margin: 0 1rem;
    overflow: hidden;
}

.loading-anim {
    margin: 0 auto;
}

/* sorting container styling */
.search-form-wrapper {
    display: grid;
    margin-top: 2rem;
}


.sort-container {
    width: 175px;
    background-color: white;
    justify-self: right;
    margin-right: min(2rem, 9%);
    margin-bottom: min(1.5rem, 3%);
    border-radius: 10px;
    padding: 1rem;
}

/* Mobile view adjustments */
@media(max-width: 710px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #20263E;
        transition: all 0.2s ease-in-out;
    }

    .loading-anim {
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% -50%;
    }


    .menu li a {
        padding: 10px;
    }

    /* Show the menu buttons on mobile */
    .open-menu, .close-menu {
        display: block;
    }

    /* When the checkbox is checked, show the menu */
    #check:checked ~ .menu {
        right: 0;
    }
    
    .case {
        flex-direction: column;
        text-align: center;
    }

    .case-name {
        width: 100%;
        text-align: center;
        border-right: none;
    }

    .case-desc {
        width: 100%;
        text-align: center;
    }

    .case button {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .bookmark-wrapper {
        width: 100%;
    }
}


  /* tablet responsivness */
@media (min-width: 700px) and (max-width: 1400px) {

    .case {
        flex-direction: column;
        text-align: center;
    }

    .case-name {
        width: 100%;
        text-align: center;
        border-right: none;
    }

    .case-desc {
        width: 100%;
        text-align: center;
    }

    .case button {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .bookmark-wrapper {
        width: 75%;
    }

}